<div class="container">
  <div class="hexagon-container">
    <div gradientBackground class="hexagon"></div>
  </div>
  <ul>
    <li>
      <a target="_blank" href="mailto:jagg256@gmail.com"><i class="fas fa-envelope"></i></a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/in/francisco-javier-galán-guerrero-6a5a1b1b5"><i class="fab fa-linkedin"></i></a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/javier26galan/"><i class="fab fa-github"></i></a>
    </li>
  </ul>
</div>
