.container{
  display: flex;
  justify-content: space-between;
  height: 5em;
  width: 100%;
}
ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  font-size: 2em;
}
