<div class="content">
  <div class="jobs" *ngFor="let job of jobs">
    <div class="job">
      <h3>{{job.companyName}}</h3>
      <div class="projects" >
        <div class="project" *ngFor="let project of job.projects">
          <h5 class="project-link"><a target="_blank" href="{{project.url}}">{{project.projectName}}</a></h5>
          <p class="project-description">{{project.workDescription}}</p>
          <ul class="skill-list">
            <li class="skill-item" *ngFor="let skill of project.skills">{{skill}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
