<div class="content" [@slideInFromRight]>
  <div class="row heading">
    <h4 class="gradient-underline gradient-underline-personal">Hello World!</h4>
    <div class="img-container">
      <img src='../../../../assets/images/foto.jpg' alt='mi foto'>
    </div>
  </div>
  <div class="row">
    <p class="text">
      Hello there!! My name is Javier Galán, I'm a full-stack web developer based in Granada, Spain, I started to be interested in programming around 2019 when one of my friends decided to open a E-commerce with Wordpress, since then I've been growing up as developer, working by my myself, taking courses, etc...
    </p>
  </div>
</div>
