.img-container {
  width: 75px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0px 10px 20px #e334d0;
  img {
    filter: grayscale(100%);
  }
}
h4 {
  font-size: 4em;
}
.heading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.row{
  margin-bottom: 1em;
}
.gradient-underline {
  display: inline-block;
  background-image: linear-gradient(to right, #e334d0, #74ee15);
  background-size: 100% 2px; /* Grosor del subrayado */
  background-position: 0 100%; /* Ubicación del subrayado */
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  /* Estilos para pantallas menores a 1000px */
  /* Puedes agregar aquí tus estilos específicos */
  h4{
    font-size:2em;
  }
  .img-container{
    width:40px;
  }
}
