<nav>
  <ul>
    <li><a class="gradient-underline" routerLink="" appActiveLink>Welcome</a></li>
    <li>
      <a
        class="gradient-underline"
        routerLink="skills"
        appActiveLink
        >Skills</a
      >
    </li>
    <li>
      <a
        class="gradient-underline"
        routerLink="experience"
        appActiveLink
        >Experience</a
      >
    </li>
    <li>
      <a
        class="gradient-underline"
        routerLink="projects"
        appActiveLink
        >Own Projects</a
      >
    </li>
    <li>
      <a
        class="gradient-underline"
        routerLink="about-me"
        appActiveLink
        >About me</a
      >
    </li>
  </ul>
</nav>
