<nav>
  <ul>
    <li>
      <a
        class="gradient-underline"
        routerLink="welcome"
        [routerLinkActive]="['is-active']"
        appActiveLink
        >Welcome</a
      >
    </li>
    <li>
      <a
        class="gradient-underline"
        routerLink="skills"
        [routerLinkActive]="['is-active']"
        appActiveLink
        >Skills</a
      >
    </li>
    <li>
      <a
        class="gradient-underline"
        routerLink="experience"
        [routerLinkActive]="['is-active']"
        appActiveLink
        >Experience</a
      >
    </li>
    <li>
      <a
        class="gradient-underline"
        routerLink="projects"
        [routerLinkActive]="['is-active']"
        appActiveLink
        >Own Projects</a
      >
    </li>
    <li>
      <a
        class="gradient-underline"
        routerLink="about-me"
        [routerLinkActive]="['is-active']"
        appActiveLink
        >About me</a
      >
    </li>
  </ul>
</nav>
